/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

:root{
    --bg-top:#009688;
    --bg-main:#d7dbd7;
    --bg-head-chat:#eaeaea;
    --icon-color:#b1b1b1;
    --bg-notification: #8edafc;
    --bg-white: white;
    --bg-msg-send: #d5f9ba;
}

/* element */

i {
    color: var(--icon-color);
}

/* classes */

.eb_container {
    background-color: var(--bg-top);
    width: 100vw;
    height: 100vh;
    padding: 5vh 10vw ;
}

.eb_app {
    width: 80vw;
    height: 90vh;
    display: flex;
}

.eb_profile, #sender_profile {
    background-color: var(--bg-head-chat);
    width: 100%;
    height: 4rem;
}

.eb_picture {
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.eb_status {
    display: block;
    color: var(--icon-color);
    font-size: 0.75rem;
}

.eb_notification {
    background-color: var(--bg-notification);
    height: 5rem;

    & a {
        background-color: rgb(242 251 255 / 90%);
        width: 3rem;
        aspect-ratio: 1 / 1;
        padding: 0.75rem 0.5rem;
        border-radius: 50%;
        
        > i {
            color: var(--bg-notification);
        }
    }
}

.eb_search {
    background-color: var(--bg-head-chat);
    height: 3.5rem;
}

.eb_chat_list {
    height: calc(90vh - 12.5rem);
    overflow-y: scroll;
}

.eb_chat_list div:hover {
    background-color: var(--bg-head-chat);
}

.messages {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(90vh - 8rem);
    overflow-y: scroll;
}

.eb_message {
    padding: 0.75rem;
    width: fit-content;
    border-radius: 0.75rem;
    margin: 1rem 0;
}

.eb_time_send {
    color: var(--icon-color);
    font-size: 0.75rem;
    text-align: end;
}

.eb_user {
    background-color: var(--bg-msg-send);
    margin-left: auto;
    position: relative;
}

.eb_user::before {
    position: absolute;
    content: '';
    width: 0; height: 0; line-height: 0;
    bottom: -0.5rem;
    right: 0;
    border-right:  0.6rem solid var(--bg-msg-send);
    border-top:   0.6rem solid transparent;
    border-bottom:  0.6rem solid transparent;
}

.eb_sender {
    background-color: var(--bg-white);
    margin-right: auto;
    position: relative;
}

.eb_sender::before {
    position: absolute;
    content: '';
    width: 0; height: 0; line-height: 0;
    bottom: -0.5rem;
    left: 0;
    border-left:  0.6rem solid var(--bg-white);
    border-top:   0.6rem solid transparent;
    border-bottom:  0.6rem solid transparent;

}


.eb_input {
    height: 4rem;
    background-color: var(--bg-head-chat);
}

/* id */
#sidebar {
    width: 40%;
    background-color: white;
}

#chat {
    width: 60%;
    background-color: palevioletred;
    height: 4rem;
}