/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

:root{
    --bg-top:#009688;
    --bg-main:#d7dbd7;
    --bg-head-chat:#eaeaea;
    --icon-color:#b1b1b1;
    --bg-notification: #8edafc;
}

/* element */

i {
    color: var(--icon-color);
}

/* classes */

.eb_container {
    background-color: var(--bg-top);
    width: 100vw;
    height: 100vh;
    padding: 5vh 10vw ;
}

.eb_app {
    width: 80vw;
    height: 90vh;
    display: flex;
}

.eb_profile, .eb_chat {
    background-color: var(--bg-head-chat);
    width: 100%;
    height: 4rem;
}

.eb_picture {
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.eb_status {
    display: block;
    color: var(--icon-color);
    font-size: 0.75rem;
}

.eb_notification {
    background-color: var(--bg-notification);
    height: 5rem;

    & a {
        background-color: rgb(242 251 255 / 90%);
        width: 3rem;
        aspect-ratio: 1 / 1;
        padding: 0.75rem 0.5rem;
        border-radius: 50%;
        
        > i {
            color: var(--bg-notification);
        }
    }
}

.eb_search {
    background-color: var(--bg-head-chat);
}

.eb_chat_list {
    
    overflow: auto;
}



/* id */
#sidebar {
    width: 40%;
    background-color: white;
}

#chat {
    width: 60%;
    background-color: palevioletred;
    height: 4rem;
}